<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration debug="true" xmlns:log4j="http://jakarta.apache.org/log4j/">

      <!-- Appenders -->      
      <appender name="console" class="org.apache.log4j.ConsoleAppender">
      	<layout class="org.apache.log4j.PatternLayout">
        	<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
        </layout>
      </appender>
      
      <appender name="file" class="org.apache.log4j.RollingFileAppender">
      		<param name="append" value="false" />            
            <param name="MaxFileSize" value="50MB" />
            <param name="MaxBackupIndex" value="50" />
            <param name="File" value="D:/logs/Insight360DataPull_Logs.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
        </layout>       
      </appender> 
      
     <!-- package level log levels can be define -->
    <category name="com.res.common.controller">
        <priority value="debug" />
    </category>
      
      <!-- Application Loggers -->
      <logger name="com.hexaware.insight360">
            <level value="INFO" />
      </logger>
      
      <!-- 3rdparty Loggers -->
      <logger name="org.springframework.core">
            <level value="INFO" />
      </logger>   
      
      <logger name="org.springframework.beans">
            <level value="INFO" />
      </logger>
      
      <logger name="org.springframework.context">
            <level value="INFO" />
      </logger>

      <logger name="org.springframework.web">
            <level value="INFO" />
      </logger>

      <root>
            <!-- <level value="ERROR" />-->
            <priority value="DEBUG" />
            <appender-ref ref="console"/>
            <appender-ref ref="file"/>            
      </root>       
  
</log4j:configuration>
